# Node modules (if using npm or yarn for dependencies)
node_modules/

# Build artifacts (compiled contracts)
build/
artifacts/

# Dependency folders
lib/

# Cache directories
.cache/
.cache-test/

# Environment variables
.env
.env.local
.env.*.local

# Hardhat specific files
*.log
*.tsbuildinfo
coverage/
typechain/

# Remix specific
.remix.config
remixdBackup*

# Truffle specific
migrations/

# VSCode specific
.vscode/

# MacOS specific files
.DS_Store

# IDE Specific
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/
venv/
ENV/
venv.bak/

# Pipenv
Pipfile.lock

# Jupyter Notebooks
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
